html {
  font-family: "Pretendard-Regular";
  line-height: 1.5;
}
.title {
  font-size: 34px;
  font-weight: 900;
  margin-bottom: -550px;
}

.headimg {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -70px;
}

path {
  fill: transparent;
}

text {
  fill: #ff9800;
}

body,
h1,
p,
h2 {
  margin: 0;
}
body {
}
header {
  padding-top: 200px;
}
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}
img {
  width: 100%;
}
h1 {
  font-family: "Pretendard-Bold";
  font-weight: 900;
  font-size: 3rem;
}
h2 {
  font-family: "Pretendard-Bold";
  font-weight: 800;
  font-size: 2rem;
  padding-bottom: 40px;
}
p {
  font-size: 1.2rem;
  padding-top: 40px;
  padding-bottom: 40px;
}

.headwrap {
  width: 800px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  padding-bottom: 50px;
}
.head-center-spacing {
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
}

.wrap {
  width: 800px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.792);
  padding: 50px;
}
.left-spacing {
  padding-left: 150px;
}
.right-spacing {
  padding-right: 150px;
}
.center-spacing {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}
